@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: none;
}

body {
  background-color: white;
  display: grid;
  place-content: center;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  font-size: 2rem;
}

.container {
  width: 350px;
  height: 500px;
  background-color: #403f46;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 2px 16px 2px #808080;
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.screen {
  grid-column: 1 / -1;
  color: white;
  text-align: right;
  padding: 0.5rem;
  font-size: 4rem;
  overflow: hidden;
  height: 120px;
}

.btn {
  display: grid;
  place-content: center;
  background-color: #605f65;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #403f46;
}
.btn:hover {
  background-color: gray;
}

.light-gray {
  background-color: #534f58;
  color: white;
}

.light-gray:hover {
  background-color: gray;
}

.orange {
  background-color: #f9a323;
}

.orange:hover {
  background-color: white;
  color: orange;
}

.zero {
  grid-column: 1 / span 2;
  align-items: center;
}

.mac-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
  justify-content: center;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  flex-direction: column;
}

.red-btn {
  background-color: #f95f57;
}

.yellow-btn {
  background-color: #f9a323;
}

.green-btn {
  background-color: #28c841;
}

span {
  padding: 15px;
  font-size: 70px;
  display: flex;
  flex-direction: column;
}
